body {
    margin: 0;
    background: #f5f5f5;
    font-family: "Open Sans", sans-serif, Arial;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
header {
    background-color: #02cbed;
    color: #fafafa;
    padding: 10px 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}
header .small {
    font-size: 0.8em;
    font-weight: 300;
}

h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
h1 { font-size: 36px; }
h2 { font-size: 21px; margin-bottom: 1em; }
h4 {
    margin: 0;
}
p { margin: 0 0 1em 0; }
a { color: #0000F0; }
a:hover { text-decoration: none; }
code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
#wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
#container {
    padding: 2em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
#welcome, #status { margin-bottom: 2em; }
#welcome h1 span { display: block; font-size: 75%; }
#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
#icon-book { display: none; }

@media (min-width: 768px) {
    #wrapper { width: 80%; margin: 2em auto; }
    #icon-book { display: inline-block; }
    #status a, #next a { display: block; }

    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
}

form label {
    display: block;
    color: #aaaaaa;
    font-weight: 300;
}

form input {
    padding: 8px 12px;
    margin: 0 0 20px 0;
    border-radius: 4px;
    border: 1px solid #dad9d9;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
}

.btn-green {
    display: inline-block;
    min-width: 200px;
    padding: 10px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #13984e;
    color: #ffffff;
    border: 1px solid #239656;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}
.btn-green:hover {
    background: #138d47;
}
.btn-green:active, .btn-green:hover:active {
    background: #0f763b;
}

form ul {
    margin: 0;
    padding: 10px 0;
}

form ul li {
    list-style-type: none;
    font-size: 0.85em;
    color: #fd4d4d;
}

.section {
    padding: 0;
    margin-bottom: 25px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.section .section-header {
    padding: 10px 25px;
    color: #ffffff;
    background-color: #8091f8;
}
.section .section-header h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section .section-content {
    padding: 20px 25px;
}

h4 {
    display: table;
}

h4 > span {
    display: table-cell;
    vertical-align: top;
}

h4 img {
    border-radius: 50%;
}
h4 span {
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    text-align: left;
    font-size: 0.85em;
}

table tr td, table tr th {
    border: 1px solid #eeeeee;
    padding: 12px 20px;
}

table tr th {
    width: 35%;
    min-width: 250px;
    font-weight: 400;
}

table tr td {
    font-weight: 700;
}

.text-grey {
    color: #b6b6b6;
}
.text-thin {
    font-weight: 300;
}
.text-regular {
    font-weight: 400;
}
.text-bold {
    font-weight: 700;
}

.hint {
    font-size: 0.85em;
    font-weight: 300;
    color: #dadada;
}