{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="form-wrapper">
                {{ form_start(form) }}

                    {{ form_widget(form) }}


                {{ form_end(form) }}

                <div class="hint" style="margin-top: 15px;">
                    Enter GitHub`s username and you will see the detailed GItHub resume of the user if he exists.<br>
                    For example: <span class="text-bold">mxcl</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
