{% extends 'base.html.twig' %}

{% block header_right %}
    <a href="/">Home</a>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="resume">
                {% if (error is defined) %}
                    <div class="section">
                        <div class="section-header">
                            <h3>Error</h3>
                        </div>

                        <div class="section-content">
                            <h5>{{ error }}</h5>
                            <div>
                                <a href="/">Go back to Home</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div style="margin-bottom: 20px;">
                        <a class="btn-green" href="/">Try another Username</a>
                    </div>

                    <div class="section">
                        <div class="section-header">
                            <h3>User Information</h3>
                        </div>

                        <div class="section-content">
                            <h4 style="margin: 20px 0">
                                <span>
                                    <img src="{{ user.avatar_url }}" width="50" height="50" />
                                </span>
                                <span>
                                    <span style="display: block;">{{ user.name }}<span class="text-grey text-thin">{{ user.type }}</span></span>
                                    <span class="text-regular" style="display: block;">{{ user.bio ? user.bio : '' }}</span>
                                    <span class="text-thin"><a href="{{ user.url }}" target="_blank">{{ user.url  }}</a></span>
                                </span>
                            </h4>

                            <table cellspacing="0" cellpadding="0">
                                {% if (user.blog) %}
                                    <tr>
                                        <th>Web-Site</th>
                                        <td><a href="{{ user.blog }}" target="_blank">{{ user.blog }}</a></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Public Repositories</th>
                                    <td><a href="{{ user.repos_url }}">{{ user.public_repos }}</a></td>
                                </tr>
                                <tr>
                                    <th>Followers</th>
                                    <td><a href="{{ user.followers_url }}">{{ user.followers }}</a></td>
                                </tr>
                                <tr>
                                    <th>Following</th>
                                    <td><a href="{{ user.following_url }}">{{ user.following }}</a></td>
                                </tr>
                                {% if (user.location) %}
                                    <tr>
                                        <th>Location</th>
                                        <td>{{ user.location}}</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>

                    <div class="section">
                        <div class="section-header">
                            <h3>Languages <span class="" style="float: right;">{{ stats|length - 1 }}</span></h3>
                        </div>

                        <div class="section-content">
                            <table cellspacing="0" cellpadding="0">
                                {% for lang, size in stats|slice(1) %}

                                    <tr>
                                        <th>{{ lang }}</th>
                                        <td>{{ (size/stats.total * 100)|number_format(2) }} %</td>
                                    </tr>

                                {% endfor %}
                            </table>
                        </div>
                    </div>

                    <div class="section">
                        <div class="section-header">
                            <h3>Public Repositories <span class="text-thin" style="float: right;">{{ repos|length }}</span></h3>
                        </div>

                        <div class="section-content">
                            {% for repo in repos %}
                                <table cellspacing="0" cellpadding="0" style="margin-bottom: 20px;">
                                    <tr style="background-color: #eeeeee;">
                                        <th style="max-width: 200px;">Repository #{{ loop.index }}</th>
                                        <td><a href="{{ repo.html_url }}">{{ repo.name }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ repo.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Language</th>
                                        <td>{{ repo.language }}</td>
                                    </tr>
                                    <tr>
                                        <th>Stars</th>
                                        <td><a href="{{ repo.stargazers_url }}">{{ repo.stargazers_count }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Forks</th>
                                        <td><a href="{{ repo.forks_url }}">{{ repo.forks_count }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Collaborators</th>
                                        <td><a href="{{ repo.collaborators_url }}">See all</a></td>
                                    </tr>
                                    <tr>
                                        <th>Created</th>
                                        <td>{{ repo.created_at|date('d MMM Y') }}</td>
                                    </tr>
                                </table>
                            {% else %}
                                <div>User has no public repositories.</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
